$base-color: #0dc441;

@font-face {
  font-family: "yofont";
  src: url('/images/fonts/iconheader.eot?t=1482995686824'); /* IE9*/
  src: url('/images/fonts/iconheader.eot?t=1482995686824#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/images/fonts/iconheader.woff?t=1482995686824') format('woff'), /* chrome, firefox */
  url('/images/fonts/iconheader.ttf?t=1482995686824') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('/images/fonts/iconheader.svg?t=1482995686824#iconfont') format('svg'); /* iOS 4.1- */
}

@font-face {
  font-family: 'yofont';
  src: url('/images/fonts/iconfooter.eot');
  src: url('/images/fonts/iconfooter.eot?#iefix') format('embedded-opentype'),
  url('/images/fonts/iconfooter.woff') format('woff'),
  url('/images/fonts/iconfooter.ttf') format('truetype'),
  url('/images/fonts/iconfooter.svg#iconfont') format('svg');
}
