$base-color: #dd2727;
@font-face {
  font-family: 'yofont';  /* project id 212807 */
  src: url('//at.alicdn.com/t/font_l6a0zeshhy77rpb9.eot');
  src: url('//at.alicdn.com/t/font_l6a0zeshhy77rpb9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_l6a0zeshhy77rpb9.woff') format('woff'),
  url('//at.alicdn.com/t/font_l6a0zeshhy77rpb9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_l6a0zeshhy77rpb9.svg#iconfont') format('svg');
}