$base-color: #dd2727;
@font-face {
  font-family: 'yofont';  /* project id 212807 */
  src: url('//at.alicdn.com/t/font_h6psrvddyghnnrk9.eot');
  src: url('//at.alicdn.com/t/font_h6psrvddyghnnrk9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_h6psrvddyghnnrk9.woff') format('woff'),
  url('//at.alicdn.com/t/font_h6psrvddyghnnrk9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_h6psrvddyghnnrk9.svg#iconfont') format('svg');
}

@import "../../lib/core/reset.scss";
b{
    font-weight: normal;
}
strong{
    font-weight:normal;
}


%header{
     header {
        height: 0.44rem;
        background: $base-color;
        ul {
            @include flexbox();
            height: 100%;
            @include justify-content(space-between);
            li:last-child {
                width: 0.44rem;
                height: 100%;
                line-height: 0.44rem;
                text-align: center;
                font-size: 0.24rem;
                color: rgba(255, 255, 255, 0.6);
                margin-right: 0.1rem;
            }
            li:nth-child(1) {
                position: relative;
                left: 50%;
                @include transform(translateX(-50%));
                @include flexbox();
                @include align-items();
                a {
                    color: #fff;
                    font-size: 0.18rem;
                    font-weight: bolder;
                }
            }
        }
    }
}


//搜索框

%search{
    #search{
        padding:.1rem;
        background: #ecebe6;
        @include flexbox();
        a{
            
            @include flex();
            width: 1.1rem;
            height: 0.29rem;
            line-height: 0.29rem;
            text-align: center;
            background: #66cc66;
            color:#fff;
            font-size: .14rem;
            font-weight: bold;
            @include border-radius(.04rem);
            
        }
        form{
            position: relative;
            margin-left:.1rem;
            @include flex(2.4);
            input{
                height: .29rem;
                border: none;
                padding:0 .1rem;
                width:100%;
            }
            i{
                position:absolute;
                right: 0.05rem;
                top: 0;
                font-size:.2rem;
                line-height: 0.2rem;
            }
        }
        
    }
}

%footer{
    footer {
        background: #fff;
        ul {
            @include flexbox();
            @include border(1px 0 0 0, #CED6D0);
            li {
                height: 0.55rem;
                @include flex();
                &.active b,
                &.active i {
                    color: $base-color;
                }
                b,
                i {
                    display: block;
                    text-align: center;
                    color: #0e0e0e;
                }
                b {
                    font-size: 0.12rem;
                    line-height: 0.14rem;
                    margin-top:.05rem;
                }
                i {
                    font-size: 0.28rem;
                    height: 0.3rem;
                    line-height: 0.3rem;
                }
            }
        }
    }
    

}
