@charset "utf-8";
@import './common.scss';
.m-index{
    @include flexbox();
    @include flex-direction(column);
    height:100%;
    header{
        height:.44rem;
        background: $base-color;
        ul{
            @include flexbox();
            height: 100%;
            li:first-child,
            li:last-child{
                width: .44rem;
                height: 100%;
                line-height: .44rem;
                text-align:center;
                color:#fff;
                font-size: .24rem;

            }
            li:first-child:before { content: "\e6f2"; }
            li:last-child{
                &:before { content: "\e618"; }
            }
            li:nth-child(2){
                @include flex();
                a{
                    color: #fff;
                    font-size: .24rem;
                }
            }
        }
    }
    section{
        background: #fff;
        overflow-y: scroll;
        width: 100%;
        height: 100%;
        ul{
            @include flexbox();
//          @include flex();
            @include flex-wrap(wrap);
            width: 100%;
            height: 100%;
            li{
                width:33.33%;
                height: 33.33%;
                @include flexbox();
                @include flex-direction(column);
                @include justify-content();
                @include align-items();
                a{
                    display: block;
                    width: 100%;
                    @include flexbox();
                    @include justify-content();
                    img{
                        display: block;
                        width: .52rem;
                        height: .52rem; 
                    }
                }
                b{
                    display: block; 
                    margin-top: .08rem;
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
    footer{
        height:.44rem;
        background: black;
    }
    > * {
        width: 100%;
    }
}
