@charset "UTF-8";
@import "./common";

#m-my{
    header{
        height: .44rem;
        width:100%;
        background: #dd2727;
        color:#fff;
        font-size: .18rem;
        font-weight: bold;
        line-height: .44rem;
        text-align: center;
        
    }
    section{
        padding:0 .1rem;
        nav{
            padding-top:.15rem;
            background: #ebebeb;
            a{
                color:#000;
                @include border(1px 0 1px 1px,#fe6c6c,solid,0.05rem,0,0,0.05rem);      
                @include box-sizing(border-box);                
                height: .33rem;
                display: inline-block;
                background: #fff;
                text-align: center;
                line-height: .33rem;
                &:nth-child(1){
                    width:50%;
                    float: left;
                    _margin-right:-3px;
                    
                }
                &:nth-child(2){
                    margin-left:50%;
                    _margin-left:0px;
                    _zoom:1;
                    display: block;
                    @include border(1px 1px 1px 0,#fe6c6c,solid,0,0.05rem,0.05rem,0);
                }               
                &.myHeaderAActive{
                    background: #fe6c6c;
                    
                }
            }
        }//nav end
        input{
            width:100%;
            height: .39rem;
            text-indent: .1rem;
            border:none;
            margin-top: .1rem;
            
        }
        .inputTwo{
            &.myInputActive{
                display: none !important;
                background: red;
            }
        }
        span{
            background: url(/images/auto_login.png) no-repeat left top;
            background-size: .15rem;
            padding-left:.25rem;
            display: block;
            width: 100%;
            height: .15rem;
            margin-top:.15rem;
        }
        div{
            width:100%;
            height: .4rem;
            background: #dc4f45;
            margin-top:.15rem;
            font-size: .15rem;
            font-weight: bold;
            text-align: center;
            line-height: .4rem;
            color:#fff;
            margin-bottom: .2rem;
        }
        strong{
            float:right;
            
        }
        article{
            &.myArticleActive{
                display: none;
            }
            @include flexbox();
            @include justify-content(flex-end);
            margin-top:.05rem;
            input{
                width: auto;
                margin-top:0;
                @include flex(2.5);
            }
            span{
                @include flex(1);
                height: .4rem;
                background: #dc4f45;
                display: inline-block;
                @include border-radius(.05rem);
                line-height: .4rem;
                text-align: center;
                padding:0;
                margin:0;
                margin-left:.1rem;
            }
        }        
    }
}//#m-my end


